@import '../_variables.scss';

.scrolling-wrapper {
    height:98vh;
    position: absolute;
    display: flex;
    // background-color: rgba(21, 253, 0, 0.3);
    background-image: url('../assets/bg-sky4.png');
    background-repeat:  repeat-x;
    background-size:contain;
    // background-size:cover;

    .page {
        // background: rgba(255, 255, 255, 0.5);
        height:98vh;
        width: 100vw;
        display: flex;  
        justify-content: center;
        flex: 0 0 auto;
        // background-color: rgba(247, 251, 0, .3);
        .slide {
            margin-top: 3vh;
            width: 90%;
            // background-color: $transparent-background;
            // justify-content: center;
            align-content: center;
            text-align: center;
            border-radius: 3rem;
            display: flex;
            flex-direction: column;
            padding: 1em 2em;
            
        
            & h1 {
                font-family: monospace;
                font-size: 4em;
                color: $primary-color;
                margin: 0 0 .2em 0;
                // text-shadow: $white-border;
            }
        }
    }
    

}



.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.center {
    margin: 0 auto;
}
  
.content {
    margin: 0 auto;
    width: 960px;
}
  
.clear {
clear: both;
}