@import '../_variables.scss';

.scrolling-wrapper {
    height:98vh;
    position: absolute;
    display: flex;
    background-image: url('../assets/bg-sky4.png');
    background-repeat:  repeat-x;
    background-size:contain;
    background-color: rgba(21, 253, 0, 0.3);


    .page {
        height:100%;
        width: 100vw;
        display: flex;  
        justify-content: center;
        flex: 0 0 auto;
        background-color: rgba(247, 251, 0, .3);

        .slide {
            background-color: $transparent-background;
            margin-top: 3vh;
            width: 90%;
            height: 95%;
            align-content: center;
            text-align: center;
            border-radius: 3rem;
            display: flex;
            flex-direction: column;
            padding: .5em 2em .5em 2em;
            
            
        
            & h1 {
                font-family: monospace;
                font-size: 4em;
                // color: $primary-color;
                color: white;
                letter-spacing: 0.15em;
                margin: 0 0 .2em 0;
                text-shadow: $teal-border;
            }

            & > main {
                background-color: $transparent-background3;
                display: flex;
                // flex-flow: row wrap;
                flex: 1 1 auto;
                // flex-wrap: nowrap; 
                font-size: 1.2em;
                color: $text-dark-brown;
                height: 100%;
                width: 100%;
                
            } 
        }
    }
    

}



.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.center {
    margin: 0 auto;
}
  
.content {
    margin: 0 auto;
    width: 960px;
}
  
.clear {
clear: both;
}