.scrolling-wrapper {
    height:98vh;
    position: absolute;
    display: flex;
    background-color: rgba(232, 0, 253, .3);

    .page {
        height:98vh;
        width: 100vw;
        display: flex;  
        justify-content: center;
        flex: 0 0 auto;
        background-color: rgba(27, 251, 0, .3);
        .slide {
            margin-top: 3vh;
            width: 90%;
            background: rgba(247, 251, 0, .6);
            justify-content: center;
            
            text-align: center;
        }
    }
    

}

