$nav-image-sun: url(../../assets/sun.svg);

// Colors
// $color-primary: #666;
// $color-secondary: #888;
// $color-light: #e0e0e0;
// $color-lightest: #efefef;
// $color-brand: #239bf6;

// Brand color
// $color-facebook: #3b5998;
// $color-feedly: #2bb24c;
// $color-github: #333;
// $color-google: #dc4e41;

// Borders
// $border-light: solid 1px rgba(0, 0, 0, .05);

// Spacing
// $spacing-small: .75rem;
// $spacing-single: 1rem;
// $spacing-double: 2rem;
// $spacing-triple: 3rem;
// $spacing-big: 6rem;

// Media queries
$desktop: 800px;
$tablet: 600px;
$mobile: 480px;

// Font Family
// $sans-serif: 'Roboto', sans-serif;
// $serif: 'Playfair Display', serif;



// /*Variables*/
// @import url("https://fonts.googleapis.com/css?family=Open+Sans");

// $bg-color: #fff;
// $main-font: "Open Sans";

// /* $primary-color: #266294; //blue */
// $primary-color: #0f8a7c; // teal
// $secondary-color: #ffd900; //yellow
// $secondary-color: #e6b833;
// $light-color: #ddd; //light gray
// $accent-color: rgb(236, 32, 209); //pink
// $dark-color: #628a97; //darker blue

// @function set-text-color($bg-color) {
//   @if (lightness($bg-color) > 50) {
//     @return #000;
//   } @else {
//     @return #fff;
//   }
// }
