@import '../variables';

// #About .slide main{
//     border: 2px dotted $secondary-color;
// }


#profilepic {
    flex:1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../assets/profile1.jpg);   
}
.aboutMeDetails {
    flex: 1.5;
    height: 96%;
    width: 100%;

    overflow-y:scroll;
    text-align: left;
    padding: 2%;
    background-color: $transparent-background;
}
