@import "../variables";

.modal {
  background-color: $transparent-background3;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  // background-color: palevioletred;
  width: 70%;
  height: 70%;

  .modal-x-button {
    height: 100px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: white;
  }

  .modal-description {
    background-color: #ffbc00;
    height: 70%;
    width: 100%;
  }

  .modal-image-container {
    // background-color: royalblue;
    background-color: rgb(243, 252, 251);
    width: 100%;
    height: 30%;

    .modal-image {
      background-color: green;
      // height: 90%;
      // width: 90%;
    }
  }
}
