@import '../variables';

.modal {
    background-color: $transparent-background3;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 3;
    top: 0;
    left: 0;
}

.projectCard {
    width: 10em;
    height: 10em;
    background-color: plum;
}