@import "../_variables.scss"; 

#nav-bar, #nav-burger {
    position: fixed;
    background-image: url(../assets/sun.svg);
    background-repeat: no-repeat;
    background-size: stretch;
    z-index: 3;
    display:flex;
}

#nav-burger {
    height: 100px;
    width: 100px;
    top: 0;
}

#nav-bar {
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: .2em;
    height: 30vw;
    width: 30vw;
    min-width: 310px;
    min-height: 310px;
    max-width: 500px; 
    max-height: 500px; 
    top: -50px;
    left: -50px;
    display: flex;
    line-height: 1em;
    font-size: .9em;
    font-weight: 700;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: space-around;
}


.nav-items {
    /* flex: 1; */
    /* margin: auto; */
    text-align: center;
    
    
}

ul {
    list-style-type: none;
    padding: 0;
    display: inline;
    position: relative;
    top: -5px;

}




/* .active {
    color: white;
    border-right: 2px dotted #ffffff;
    border-left: 2px dotted #ffffff;
    padding-bottom: 24px;

} */

li {
    color: $text-brown;
    text-decoration-line: none;

}

li:hover {
    color: $primary-color;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: white;
    transition-duration: .6s;
    letter-spacing: .3em;
} 




.burger-container {
    display: inline;
    z-index: 5;
    cursor: pointer;
    margin: auto;
}

.x-container {
    z-index: 5;
    cursor: pointer;
    position: relative;
    top:15px;
    justify-content: center; 
    align-items: center;

}

.x-container:hover div, .burger-container:hover div  {
    background-color: white;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: $primary-color;
    margin: 6px 0;
    transition: .7s;
    z-index: 5;
    justify-content: center
}

.change .bar1 {
-webkit-transform: rotate(-45deg) translate(-9px, 6px);
transform: rotate(-45deg) translate(-9px, 6px);
justify-content: center;
align-content: center;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
-webkit-transform: rotate(45deg) translate(-8px, -8px);
transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 640px) {
    .nav-items {
        font-size: 1.2em
    }
}