/*Variables*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
#nav-bar,
#nav-burger {
  position: fixed;
  background-image: url(../assets/sun.svg);
  background-repeat: no-repeat;
  background-size: stretch;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-burger {
  height: 100px;
  width: 100px;
  top: 0;
}

#nav-bar {
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  height: 30vw;
  width: 30vw;
  min-width: 310px;
  min-height: 310px;
  max-width: 500px;
  max-height: 500px;
  top: -50px;
  left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1em;
  font-size: 0.9em;
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

#nav-bar .nav-items {
  /* flex: 1; */
  /* margin: auto; */
  text-align: center;
  list-style-type: none;
  padding: 0;
  display: inline;
  position: relative;
  top: -5px;
}

#nav-bar .nav-items li {
  color: #664b00;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

#nav-bar .nav-items li:hover {
  color: #0f8a7c;
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  letter-spacing: 0.3em;
}

/* .active {
    color: white;
    border-right: 2px dotted #ffffff;
    border-left: 2px dotted #ffffff;
    padding-bottom: 24px;

} */
.burger-container {
  display: inline;
  z-index: 5;
  cursor: pointer;
  margin: auto;
}

.x-container {
  z-index: 5;
  cursor: pointer;
  position: relative;
  top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.x-container:hover div,
.burger-container:hover div {
  background-color: white;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 5px;
  background-color: #0f8a7c;
  margin: 6px 0;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (max-width: 640px) {
  .nav-items {
    font-size: 1.2em;
  }
}
/*# sourceMappingURL=NavBar.css.map */