#Projects main {
  display: block;
  flex: none;
}

.projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project-card-container {
  min-width: 5.1em;
  min-height: 7em;
  cursor: default; // pointer;
  // width: 200px;
  // height: 200px;
  width: 18vw;
  height: 20vh;
  // width: 20%;
  // height: 10%;
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10%;
  margin: 0.2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.1em;
  box-shadow: inset 0 0 0 1000px $transparent-background3;
  // color: $text-dark-brown;
  color: white;

  .project-info {
    opacity: 1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    position: relative;
    transition-duration: 0.75s;

    .preview-title {
      font-weight: 700;
      font-size: 0.9em;
      font-family: monospace;
    }

    .preview-tech {
      font-size: 0.5em;
      position: relative;
      top: 2em;
    }

    .preview-description {
      position: absolute;
      top: 65px;
      opacity: 0;
      font-size: 0.7em;
    }
  }

  &:hover {
    box-shadow: inset 0 0 0 1000px $transparent-background;
    transition-duration: 1s;

    & * {
      color: $text-dark-brown;
    }

    .project-info {
      transition-duration: 0.5s;
      transform: translate(0, -0.5em);
      width: 100%;
      .preview-title {
        font-size: 0.8em;
      }

      .preview-tech {
        transform: translate(0, -25px);
        font-size: 0.5em;
      }

      .preview-description {
        opacity: 1;
        transition-duration: 0.75s;
        position: relative;
        top: 0px;
      }
    }
  }
}

.project-preview-image {
  width: 200px;
  height: 200px;
  background-size: cover;
}

/* Smartphones (portrait and landscape) ----------- */
@media screen and (max-width: 640px) {
  #Projects {
    height: auto;
  }
  .project-card-container {
    width: 30vw;
  }
}
