#Projects main {
    flex-wrap: wrap;
    justify-content: center;
}
.project-card-container {
    width: 10em;
    // min-height: 20em;
    cursor: pointer;
    background-color: pink;
}

project-card-back {
    background-color: pink;
}