/*Variables*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

/* $primary-color: #266294; //blue */
.scrolling-wrapper {
  height: 98vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../assets/bg-sky4.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.scrolling-wrapper .page {
  height: 98vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.scrolling-wrapper .page .slide {
  margin-top: 3vh;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.6);
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 2em;
}

.scrolling-wrapper .page .slide h1 {
  font-family: monospace;
  font-size: 4em;
  color: #0f8a7c;
  margin: 0 0 .2em 0;
}

#Home .slide {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.typewriter {
  font-size: 4em;
  display: inline-block;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation: typing 4s steps(25, end), blink-caret 0.5s linear 13;
          animation: typing 4s steps(25, end), blink-caret 0.5s linear 13;
  width: 12em;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.headline {
  font-size: 1.5em;
  display: inline-block;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation-name: typing2;
          animation-name: typing2;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    border: none;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes typing2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  1% {
    border-right: 0.15em solid orange;
  }
  100% {
    border-right: 0.15em orange;
  }
}
@keyframes blink-caret {
  1% {
    border-right: 0.15em solid orange;
  }
  100% {
    border-right: 0.15em orange;
  }
}

/*Variables*/
.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

/* $primary-color: #266294; //blue */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

main #profilepic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid #ff0000;
  background-color: #00ff00;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-size: cover;
  background-repeat: none;
  background-position: center center;
}

main .aboutMeDetails {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  overflow: auto;
  text-align: left;
  padding: 1em;
}
/*# sourceMappingURL=all.css.map */