/*Variables*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
.scrolling-wrapper {
  height: 98vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../assets/bg-sky4.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.scrolling-wrapper .page {
  height: 98vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.scrolling-wrapper .page .slide {
  margin-top: 3vh;
  width: 90%;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  border-radius: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .5em 2em .5em 2em;
}

.scrolling-wrapper .page .slide h1 {
  font-family: monospace;
  font-size: 4em;
  color: white;
  letter-spacing: 0.15em;
  margin: 0 0 .2em 0;
  text-shadow: 4px 4px #0f8a7c, -1px 1px #0f8a7c, 1px -1px #0f8a7c, -1px -1px #0f8a7c;
}

.scrolling-wrapper .page .slide main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 1.2em;
  color: #3a2a00;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.center {
  margin: 0 auto;
}

.content {
  margin: 0 auto;
  width: 960px;
}

.clear {
  clear: both;
}

/* @import "../_variables.scss"; */
#nav-bar, #nav-burger {
  position: fixed;
  background-image: url(../assets/sun.svg);
  background-repeat: no-repeat;
  background-size: stretch;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#nav-burger {
  height: 100px;
  width: 100px;
  top: 0;
}

#nav-bar {
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: .2em;
  height: 30vw;
  width: 30vw;
  min-width: 300px;
  min-height: 300px;
  max-width: 500px;
  max-height: 500px;
  top: -50px;
  left: -50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3em;
  font-size: 1.3em;
  font-weight: 700;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.nav-items {
  /* flex: 1; */
  /* margin: auto; */
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: inline;
  position: relative;
  top: -5px;
}

/* .active {
    color: white;
    border-right: 2px dotted #ffffff;
    border-left: 2px dotted #ffffff;
    padding-bottom: 24px;

} */
li {
  color: #664b00;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

li:hover {
  color: #0f8a7c;
  cursor: pointer;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  letter-spacing: .4em;
}

.burger-container {
  display: inline;
  z-index: 5;
  cursor: pointer;
  margin: auto;
}

.x-container {
  z-index: 5;
  cursor: pointer;
  position: relative;
  top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.x-container:hover div, .burger-container:hover div {
  background-color: white;
}

.bar1, .bar2, .bar3 {
  width: 30px;
  height: 5px;
  background-color: #0f8a7c;
  margin: 6px 0;
  -webkit-transition: .7s;
  transition: .7s;
  z-index: 5;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* If the screen size is 800px wide or less,(smaller screens)*/
@media screen and (max-width: 800px) {
  #nav-bar {
    /* display: none; */
    font-size: 1.1em;
  }
}

/* 
@media screen and (min-width: 1500px) {
    #navbar{
        font-size: 14px;

    }
}

/* @media screen and (min-width: 800px) {
    #navbar{
    }
} */
/*
@media screen and (max-width: 300px) {
    #navbar{
        display:none;
        /* background-image: none; 
    }
} */
/*Variables*/
#Home > .slide > main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: visible;
}

.typewriter1, .typerwriter2 {
  width: 100%;
  font-size: 4em;
  display: inline-block;
  font-family: monospace;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation: typing 2s steps(25, end), blink-caret 0.5s linear 14;
          animation: typing 2s steps(25, end), blink-caret 0.5s linear 14;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
}

.typerwriter2 {
  color: red;
  -webkit-animation-name: typing2;
          animation-name: typing2;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  opacity: 0;
}

.headline {
  font-size: 1.5em;
  display: block;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em;
  /* Adjust as needed */
  -webkit-animation-name: typing2;
          animation-name: typing2;
  -webkit-animation-duration: 3.5s;
          animation-duration: 3.5s;
  -webkit-animation-delay: 5.5s;
          animation-delay: 5.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  opacity: 0;
  color: #664b00;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    border: none;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes typing2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes typing2 {
  0% {
    width: 0;
    opacity: 1;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  1% {
    border-right: 0.15em solid orange;
  }
  100% {
    border-right: 0.15em orange;
  }
}
@keyframes blink-caret {
  1% {
    border-right: 0.15em solid orange;
  }
  100% {
    border-right: 0.15em orange;
  }
}

/*Variables*/
#profilepic {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../assets/profile1.jpg);
}

.aboutMeDetails {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
  overflow: auto;
  text-align: left;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.7);
}

#Skills > .slide > main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#Skills > .slide > main .skills-description {
  background-color: red;
}

.skills-logos-container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  max-height: 50vh;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.skills-logos-container .skill {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100px;
          flex: 1 1 100px;
  background-size: contain;
  background-repeat: no-repeat;
}

.project-card-container {
  width: 10em;
  height: 10em;
  cursor: pointer;
  background-color: plum;
}

project-card-back {
  background-color: purple;
}

/*Variables*/
#Contact > .slide > main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-container form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 35vw;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border: 2px dotted #ffbc00;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 3em;
  border-radius: 20px;
}

.contact-container form .contact-input {
  margin-bottom: .5em;
  padding: .4em .8em;
  border-radius: 0.2em;
  border: 1px #ffbc00 solid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: monospace;
}

.contact-container form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-family: monospace;
  letter-spacing: .1em;
}

#message {
  height: 10em;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding-top: 10px;
}

#submit-btn {
  font-weight: bold;
  margin: 1em 0 1em 0;
  padding: 0.5em 2.0em;
  background: #ffce00;
  border-radius: 0.4em;
  border: 1px #ffbc00 solid;
  display: block;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#submit-btn:hover {
  cursor: pointer;
  background: #ffbc00;
}

#social-media {
  background-color: red;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#social-media .media {
  background-color: blue;
}

@media screen and (max-width: 600px) {
  .contact-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-container form {
    width: none;
    height: none;
  }
}

/*Variables*/
.modal {
  background-color: rgba(17, 17, 17, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 4;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .close-modal {
  height: 20px;
}

.modal .modal-container {
  background-color: palevioletred;
  width: 70%;
  height: 70%;
}

.modal-description {
  background-color: peru;
  height: 30%;
  width: 100%;
}

.modal-image-container {
  background-color: royalblue;
  width: 100%;
  height: 70%;
}

.modal-image {
  background-color: green;
  height: 90%;
  width: 90%;
}
/*# sourceMappingURL=all.css.map */