.slide {
    /* width: 80vw;
    height: 80vh;
    min-width: 80vw;
    min-height: 80vh;
    max-width: 80vw;
    max-height: 80vh; */
    /* padding: 10%; */

    /* position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;

    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: center; */



    
        position: relative;
        padding: 8% 0;
    
      
    
}

.slide__content {
    max-width: 1200px;
    margin: auto;
  }
.container {
    position: relative;
    background-color:red;
    border: 1px solid black;
    opacity: 0.6;
    padding: 10vw;
 
}

  .slide {
    display: inline-block;
    white-space: normal;
  }
  

  /* Large screen layout
  --------------------------------------------- */  
  
  @media screen and (min-width: 45em) {
    .slide__content {
      display: -webkit-flex;
      display: flex;
      align-items: center;
    }
    .slide__image, .slide__text {
      padding: 3%;
      -webkit-flex: 1;
      flex: 1;
    } 
    .slide:nth-child(2n) .slide__text {
      -webkit-order: 1;
      order: 1;
    }
    .nav {
      display: flex;
    }
    /* horizontal scroll styles */
    html, body {
      height: 100%;
    }
    .slides {
      white-space: nowrap;
      height: 100%;
    }
    .slide {
      width: 100%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      white-space: normal;
      margin-right:-.3em;
    }
    .slide__content {
      height: 100%;
    }
}