@import './styles/variables';

body, html{
  margin: -1vh auto 0 auto;
  padding: -1vh 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f8a7c;
  overflow-y:auto;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  // line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}



// .parallax { 
//   /* The image used */
//   /* background-image: url("img_parallax.jpg"); */

//   /* Full height */
//   height: 100%; 

//   /* Create the parallax scrolling effect */
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }



