@import './styles/variables';

body, html{
  margin: -1vh auto 0 auto;
  padding: -1vh 0;
  font-family: $main-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0f8a7c;
  overflow-y:auto;
  // font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1200 - 300)));
  // line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
}



// .parallax { 
//   /* The image used */
//   /* background-image: url("img_parallax.jpg"); */

//   /* Full height */
//   height: 100%; 

//   /* Create the parallax scrolling effect */
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }



