body, html{
  margin: -1vh auto 0 auto;
  padding: -1vh 0;
  font-family:  -apple-system, BlinkMacSystemFont, "Abel", "Roboto", "Oxygen", monospace,
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background-color: #8cc5be;
  background-color: #0f8a7c;
}








// .parallax { 
//   /* The image used */
//   /* background-image: url("img_parallax.jpg"); */

//   /* Full height */
//   height: 100%; 

//   /* Create the parallax scrolling effect */
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }



